@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1E1F2A;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main-container {
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: #14162B;
    padding: 1rem;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.sidebar h2 {
    margin: 0 0 1rem;
    font-size: 1.2rem;
}

.sidebar a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-bottom: 0.5rem;
    padding:15px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    flex-grow: 1;
    height: 100%;
    padding-left:0px;
    padding-right:0px;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.75em;
    color: #FFFFFF;
}

.chat {
    width: 100%;
    background-color: transparent;
    padding: 0;
    overflow-y: scroll;
}

.message-row {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #2E2F3B;
}

.message-row:nth-child(2n) {
    background-color: #1E1F2A;
}

.message-input {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(52, 53, 65, 1);
    padding: 20px;
    box-sizing: border-box;
}

.input-container {
    width: 70%;
    display: flex;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #5e6268;
    border-radius: 5px;
    background-color: #2b2e33;
    color: #d9d9d9;
    font-size:15px;
    width:100%;
}

button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #0052CC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1746a0;
}

.message {
    width: 70%;
}

.user-message,
.assistant-message {
    color: rgba(209,213,219);
    padding: 25px 10px 25px 0px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
}

.user-message {
    background-color: #2E2F3B;
}

.assistant-message {
    background-color: #1E1F2A;
    position: relative;
}

.token-info {
    font-size: 0.8em;
    color: grey;
    font-weight:normal;
}

.new-chat-btn {
    width: 100%;
  display: inline-block;
  font-size: 14px;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #4F5D75;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
    margin-left:0px;
    background-color:transparent;
    text-align:left;
}

.new-chat-btn svg {
    vertical-align: middle;
    margin-right:15px;
}

.new-chat-btn:hover {
  background-color: #3E4C61;
  border-color: #3E4C61;
}

.chat-link.active, .sidebar a:hover {
    background: rgb(52,53,69);
    border-radius:5px;
}

pre {
    background-color: #2E2F3B;
    border-radius: 5px;
    padding: 5px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', monospace;
    font-size: 0.9em;
}

pre, code {
    width: 100%;
}